@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h2>It's @Model.Time right now on the server!</h2>



    <form>
        <input type="button" onclick="document.location.href='bc_targhe';" value="vai a targhe">
    </form>